$transition-follow: all .3s;
$border-radius-follow: 4px;

.add-new-task-box {
    input[type="number"],
    input[type="text"],
    input[type="email"],
    input[type="date"],
    select.form-control {
        height: 50px;
        margin: 0;
        padding: 0 20px;
        vertical-align: middle;
        background: #f8f8f8;
        border: none;
        // font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 50px;
        color: #888;
        -moz-border-radius: $border-radius-follow;
        -webkit-border-radius: $border-radius-follow;
        border-radius: $border-radius-follow;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        -o-transition: $transition-follow;
        -moz-transition: $transition-follow;
        -webkit-transition: $transition-follow;
        -ms-transition: $transition-follow;
        transition: $transition-follow;
    }

    input[type="file"] {
        height: 0;
        width: 0;
        margin: 0;
        padding: 0;
        vertical-align: bottom;
        border: 0;
        position: absolute;
        z-index: -1;
    }

    input[type=radio] {
        margin-top: 8px !important;
    }

    textarea,
    textarea.form-control {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 30px;
    }

    input[type="text"]:focus,
    input[type="password"]:focus,
    textarea:focus,
    textarea.form-control:focus {
        outline: 0;
        background: #fff;
        //border: none;
        box-shadow: inset 0 0 0 3px #ccc;
    }

    input[type="text"]:-moz-placeholder,
    input[type="password"]:-moz-placeholder,
    textarea:-moz-placeholder,
    textarea.form-control:-moz-placeholder {
        color: #888;
    }

    input[type="text"]:-ms-input-placeholder,
    input[type="password"]:-ms-input-placeholder,
    textarea:-ms-input-placeholder,
    textarea.form-control:-ms-input-placeholder {
        color: #888;
    }

    input[type="text"]::-webkit-input-placeholder,
    input[type="password"]::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder,
    textarea.form-control::-webkit-input-placeholder {
        color: #888;
    }

    button.btn-blue {
        height: 50px;
        margin: 0;
        padding: 0 20px;
        vertical-align: middle;
        background: $blue;
        border: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 50px;
        color: #fff;
        -moz-border-radius: $border-radius-follow;
        -webkit-border-radius: $border-radius-follow;
        border-radius: $border-radius-follow;
        text-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        -o-transition: $transition-follow;
        -moz-transition: $transition-follow;
        -webkit-transition: $transition-follow;
        -ms-transition: $transition-follow;
        transition: $transition-follow;
    }

    button.btn-blue:hover {
        opacity: 0.6;
        color: #fff;
    }

    button.btn-blue:active {
        outline: 0;
        opacity: 0.6;
        color: #fff;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    button.btn-blue:focus {
        outline: 0;
        opacity: 0.6;
        background: $blue;
    ;
        color: #fff;
    }

    button.btn-blue:active:focus,
    button.btn-blue.active:focus {
        outline: 0;
        opacity: 0.6;
        background: $blue;
    ;
        color: #fff;
    }


    /***** Top content *****/

    // .form-box {
        // font-family: 'Roboto', sans-serif !important;
    // }

    .form-top {
        overflow: hidden;
        padding: 0 25px 15px 25px;
        background: $blue;
        -moz-border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
        text-align: left;
        color: #fff;
        transition: opacity .3s ease-in-out;
    }

    .form-top h3 {
        color: #fff;
        margin-top: 20px;
    }

    .form-bottom {
        padding: 25px 25px 30px 25px;
        background: #eee;
        -moz-border-radius: 0 0 4px 4px;
        -webkit-border-radius: 0 0 4px 4px;
        border-radius: 0 0 4px 4px;
        text-align: left;
        transition: all .4s ease-in-out;

        &:hover {
            -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        }
    }

    form .form-bottom button.btn {
        min-width: 105px;
    }

    form .form-bottom .input-error {
        border-color: #d03e3e;
        color: #d03e3e;
    }

    form fieldset {
        display: none;
    }
}

.wizard-form {

    .spinner-box {
        background-color: transparent;
    }
    .accounts-list {
        li.active {
            box-shadow: inset 0 0 0 3px $primary;
        }
        .media:hover {
            background-color: transparent;
        }
        .user-checkpoint {
            display: none;
        }
        .custom-control-label {
            font-size: 1.25rem;
        }
        &--label-wrapper {
            &:hover {
                cursor: pointer;
            }
        }
    }
    .custom-control-label {
        line-height: 24px;
        &:hover {
            cursor: pointer;
        }
    }
    .form-submit-finish {
        top: 0;
        padding-top: 40px;
        width: 100%;
        padding-right: 30px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.75);
    }
    .follow-tasks-stopped {
        max-height: 490px;
        overflow-y: auto;
    }
    .progress {
        height: initial;
    }



    .uploaded-img-from-posts {
        img {
            width: 50%;
            max-width: 220px;
            display: block;
        }
        &--remove-btn {

        }
    }
}
