<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>{{htmlWebpackPlugin.options.title}}</title>
  <link rel="shortcut icon" href="/instagram-integration/favicon.ico" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body class="auth login">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Логин</h5>
            <form class="form-signin">
              <div class="form-label-group">
                <input type="email" name="mail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputEmail">Email адресс</label>
              </div>

              <div class="form-label-group">
                <input type="password" name="pass" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Пароль</label>
              </div>

              <!--<div class="custom-control custom-checkbox mb-3">-->
                <!--<input type="checkbox" class="custom-control-input" id="customCheck1">-->
                <!--<label class="custom-control-label" for="customCheck1">Remember password</label>-->
              <!--</div>-->
              <button class="border-0 btn btn-lg btn-primary btn-block text-uppercase mt-5" type="submit">Войти</button>
              <hr class="my-4">
                <div  class="text-center">
                    <a href="./register.html">Создать аккаунт</a>
                </div>
              <!--<button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>-->
              <!--<button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>-->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="error-modal-Title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="error-modal-Title">Ошибка авторизации</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Не найден аккаунт с даным e-mail адрессом
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        </div>
        </div>
    </div>
  </div>

  {{> vendor-scripts}}
</body>
