
textarea[data-emoji-picker="true"] {
  height: 142px;
  border: none;
  box-shadow: none;
}

textarea[data-emoji-picker="true"] ~ .emojionearea,
textarea[data-emoji-picker="true"] ~ .emojionearea.form-control {
  max-height: 150px;
  height: 100%;
  &:focus {
    //border: none;
    box-shadow: inset 0 0 0 3px #ccc;
  }
  .emojionearea-editor {
    max-height: 150px;
    height: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    &:empty:before {
      color: #818181;
    }
  }
  &.focused {
    //border: none;
    box-shadow: inset 0 0 0 3px #ccc;
  }
}

$maxH-input-direct: 42px;
.send-message-box {
  textarea[data-emoji-picker="true"] ~ .emojionearea,
  textarea[data-emoji-picker="true"] ~ .emojionearea.form-control {
    max-height: $maxH-input-direct;
    height: 100%;
    .emojionearea-editor {
      max-height: $maxH-input-direct;
      height: 100%;
    }
  }
}
