
{{>step-header title=titleHeader subTitle=subTitle}}
<div class="form-bottom">
    <div class="autogreeting-text-fields">
        <div class="row">
            <div class="col">
                <textarea class="form-control answer-words" rows="4"
                          data-emoji-picker="true"
                          style="padding: 0.25rem 1.75rem 0.25rem 0.25rem; width: 100%;min-height: 42px;"
                          placeholder="Введите сообщение"
                ></textarea>

                {{!-- file-upload --}}
                <div class="file-upload-btn-box" data-toggle="tooltip" data-placement="top" title="Добавить изображение">
                    <button class="file-upload-btn btn btn-success" type="button">
                        <i class="far fa-image fa-lg"></i>
                    </button>
                </div>

                {{!-- post-upload --}}
                <button type="button" class="btn btn-success post-upload-btn js_automessages-add-post"
                    title="Добавить публикацию"
                    data-toggle="tooltip"
                    data-placement="top"
                    data-post-info="todo: get req to user: ">
                    <span class="js_open-posts-gridModal"
                        data-container="body" data-toggle="popover" data-placement="bottom" data-content="У текущего аккаунта нет ни одного поста">
                    <i class="far fa-images fa-lg"></i>
                    </span>
                </button>
                <div class="mt-2">
                    {{> image-upload }}
                </div>
            </div>
        </div>
    </div>
    <div class="row py-3">
        <div class="col">
            <button type="button" class="btn btn-outline-success js_add-automessages">+Добавить еще</button>
        </div>
    </div>
    <button type="button" class="btn btn-blue btn-previous mr-2">Назад</button>
    <button type="submit" class="btn btn-success">Запустить</button>
</div>

<!-- Modal -->
<div class="modal fade" id="postsGridModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Modal title</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div id="small-img" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center">
                        <ul class="list-unstyled posts-list row"></ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-none">
                <button type="button" class="btn btn-success" id="load-more">Загрузить еще</button>
            </div>
        </div>
    </div>
</div>

