<div class="wrapper__content {{#if modificator}}wrapper__content--{{modificator}}{{/if}}">
  <div class="container-fluid ">
    <div class="row">

      {{>sidebar-menu}}
      <!--{{>r-sidebar-menu}}-->

      <main role="main" class="js_main col-md-9 ml-sm-auto col-lg-10 px-0 px-sm-4">
        <!--todo: del this info block-->
            {{!-- <p class="js_message_logged--text"></p> --}}
            {{!-- <p class="js_email-confirm--text"></p> --}}
        <!--end-->
        {{> @partial-block }}
      </main>

    </div>
  </div>
</div>
