{{>step-header title=titleHeader subTitle=subTitle}}
<div class="form-bottom">
    <div class="row stories__file-upload-box add-file d-none">
        <div class="form-group col-md-8 col-sm-8">
            <div class="file-upload-container">
                <label for="txt-file" class="label-chous btn btn-success">Добавить</label>
                <input type="file" accept=".txt" class="input-txt-file" id="txt-file" name="txt-file"/>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-blue btn-previous">Назад</button>
    <button type="submit" class="btn btn-blue js_validate-txt-file-is-uploaded">Запустить</button>
</div>
