<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-6 col-sm-3 col-md-2 mr-0 text-info" href="./"><strong>S</strong>ervice</a>
    <ul class="navbar-nav navbar-expand-md px-3">
        <li class="nav-item text-nowrap mr-3">
            <a class="nav-link js_register" href="./register.html">Регистрация</a>
        </li>
        <li class="nav-item text-nowrap mr-3">
            <a class="nav-link js_login" href="./login.html">Логин</a>
        </li>
        <li class="nav-item text-nowrap mr-3" style="display: none">
            <a class="nav-link js_logOut" href="#">Выход</a>
        </li>
    </ul>
    {{!-- {{#if withMenu}}
        {{> burger-menu}}
    {{/if}} --}}
    {{> login-form}}
    {{> register-form}}
</nav>
{{!-- <div class="sub-header">
    <ul class="navbar-nav navbar-expand-md px-3">
        <li class="nav-item text-nowrap mr-3">
            <a class="nav-link" href="#">Text1</a>
        </li>
        <li class="nav-item text-nowrap mr-3">
            <a class="nav-link" href="#">Text2</a>
        </li>
    </ul>
</div> --}}
